.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_site/
/BOKU Exams/_site
.DS_Store
/BOKU Exams/.DS_Store
/template creation/.DS_Store
BOKU Exams/images/.DS_Store
BOKU Exams/images/.DS_Store
BOKU Exams/images/.DS_Store
BOKU Exams/images/.DS_Store
/Workshop/Presentation_files
Workshop/Presentation.html
BOKU Exams/images/.DS_Store
BOKU Exams/_extensions/.DS_Store
BOKU Exams/images/.DS_Store
/Workshop/Presentation_20min_files
